.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.dircolors
.gdb_history
.gdbinit
.git-credentials
.gitconfig
.gitmessage
.gnuplot-wxt
.gnuplot_history
.irssi/
.lesshst
.local/
.oh-my-zsh/
.pex/
.pip/
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.swipl-dir-history/
.swp
.tmux.conf
.tmux/
.vim/
.viminfo
.w3m/
.weechat/
.zcompdump
.zcompdump-nbook-5.1.1
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
.zshrc.zwc
dhbw/
git/
peda/
pwnable_tw/
